body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
  /*  background-color: #DAE3F3;*/
    color: #051950;
    padding: 20px;
    line-height: 1.6;
    margin: 60px;
    background-image: url(imagenes/yu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
 
  label {
    display: flex; 
    align-items: center; 
    color: #051950; 
    font-size: 18px; 
    margin-bottom: 10px;
  }
  label img {
    margin-left: 8px; 
    width: 40px; 
    height: 40px; 
  }
  
  h1 {
    text-align: center;
    color: #220b46;
  }
  
  form {
    width: 250px;
    height: 300px;
    margin: 80px auto;
    padding: 40px;
    background-color: #DAE3F3;
    border-radius: 58px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #0c0c0c;

  
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #9d3fd3;
    color: #1d0101;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #3fd370;
  }
  
  #password, #username, #Captcha{
    width: 100%;
    padding: 10px;
   border: 2px solid #ffffff;
    border-radius: 1px;
    font-size: 16px;
  color: #051950;
    background-color: #ffffff;
    transition: border-color 0.3s ease;
  }

  #btn{
    width: 100%;
    padding: 10px;
    background-color: #9d3fd3;
    color: #1d0101;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; 
  } 

  .login-container .btn-login {
    width: 42%;
    padding: 10px;
    background-color: #9d3fd3;
    color: #1d0101;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px; /* Espacio horizontal entre botones */
    margin-bottom: 16px; /* Espacio vertical (opcional) */
      }

    .login-container .btn-cancel {
      width: 42%;
    padding: 10px;
    background-color: #d33f4b;
    color: #1d0101;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px; /* Espacio horizontal entre botones */
    margin-bottom: 16px; /* Espacio vertical (opcional) */}